* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: FKG;
    src: url(./assets/fonts/FKGroteskNeueTrial-Medium.otf);
}

body {
    color: #fff;
    background: url(./assets/images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-family: FKG;
    text-align: center;
}

main {
    width: 100%;
    max-width: 720px;
    gap: 80px;
}

.logo-view {
    width: 100%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.text {
    text-transform: uppercase;
}

.flex {
    display: flex;
}

.FW {
    flex-direction: column;
}

.FY-center {
    align-items: center;
}

.F-center {
    align-items: center;
    justify-content: center;
}